<template>
	<div class="">
		<!-- <sidebar /> -->
		<div class="relative bg-gray-200">
			<admin-navbar />
			<header-stats />
			<div class="w-full px-4 mx-auto md:px-10">
				<RoomSelected
					v-if="currentRoom.id"
					:rooms="userRooms.rooms"
					:currentRoom="currentRoom"
					v-on:roomChanged="defaultRoom($event)"
				/>

				<!-- <div class="flex justify-center my-6 text-2xl">
					<h3 class="items-center px-8 py-3 font-bold text-indigo-700 bg-white rounded-md shadow-lg hover:bg-gray-700 hover:text-white">Open Chat Room</h3>
				</div> -->

				<!-- component -->
				<div class="flex h-screen antialiased text-gray-800">
					<div class="flex flex-row w-full h-full overflow-x-hidden">
						<div class="flex flex-col flex-shrink-0 w-64 px-3 py-8 mt-20 bg-white rounded-md h-3/4">
							<div class="flex flex-row items-center justify-center w-full h-12">
								<div class="flex items-center justify-center w-10 h-10 text-indigo-700 bg-indigo-100 rounded-2xl">
									<svg
										class="w-6 h-6"
										fill="none"
										stroke="currentColor"
										viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
										></path>
									</svg>
								</div>
								<div class="ml-2 text-2xl font-bold">Chatter</div>
							</div>
							<div class="flex flex-col items-center w-full px-4 py-6 mt-4 bg-indigo-100 border border-gray-200 rounded-lg">
								<div class="w-20 h-20 overflow-hidden border rounded-full">
									<img src="https://ptetutorials.com/images/user-profile.png" />
								</div>
								<div class="mt-2 text-sm font-semibold">{{currentUser }}</div>
								<!-- <div class="text-xs text-gray-500">Lead UI/UX Designer</div> -->
								<div class="flex flex-row items-center mt-3">
									<div class="flex flex-col justify-center w-8 h-4 bg-indigo-500 rounded-full">
										<div class="self-end w-3 h-3 mr-1 bg-white rounded-full"></div>
									</div>
									<div class="ml-1 text-xs leading-none">Active</div>
								</div>
							</div>
							<div class="flex flex-col mt-8">
								<div class="flex flex-row items-center justify-between text-xs">
									<span class="font-bold">Active Users</span>
									<span class="flex items-center justify-center w-4 h-4 bg-gray-300 rounded-full">{{users.length - 1}}</span>
								</div>
								<div class="flex flex-col h-48 mt-4 -mx-2 space-y-1 overflow-y-auto">
									<button
										class="flex flex-row items-center p-2 hover:bg-gray-100 rounded-xl"
										v-for="(user, index) in users"
										:key="index"
									>
										<div
											class="flex flex-row items-center"
											v-if="user.id != $store.state.auth.user.id"
										>
											<div class="flex items-center justify-center w-8 h-8 bg-indigo-200 rounded-full">
												<img
													src="https://ptetutorials.com/images/user-profile.png"
													:alt=" user.name "
												/>
											</div>
											<div class="ml-2 text-sm font-semibold">{{ user.name }}</div>
										</div>
									</button>
								</div>
							</div>
						</div>
						<div class="flex flex-col flex-auto h-auto p-6">
							<Message :messages="messages" />
							<InputMessage
								:room="currentRoom"
								v-on:messageSent="getAllMessages"
							/>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</template>

<script>
	import AdminNavbar from '../Components/Navbars/AdminNavbar'
	import Sidebar from '../Components/Sidebar/Sidebar'
	import HeaderStats from '../Components/Headers/HeaderStats'
	import FooterAdmin from '../Components/Footers/FooterAdmin'
	export default {
		components: {
			RoomSelected: () => import('../Components/RoomSelected'),
			Message: () => import('../Components/Message'),
			InputMessage: () => import('../Components/InputMessage'),
			AdminNavbar,
			Sidebar,
			HeaderStats,
			FooterAdmin
		},
		data() {
			return {
				users: [],
				userRooms: {},
				currentRoom: {},
				messages: [],
				currentUser: this.$store.state.auth.user.name
			}
		},
		watch: {
			currentRoom(oldRoom) {
				if (oldRoom.id) {
					console.log('disconnect')
					this.disconnect(oldRoom)
				}
				this.connect()
			}
		},
		methods: {
			connect() {
				if (this.currentRoom.id) {
					let vm = this
					this.getAllMessages()
					window.Echo.private('chat.' + this.currentRoom.id).listen('.message.new', e => vm.getAllMessages())
				}
			},
			disconnect(room) {
				window.Echo.leave('chat.' + room.id)
			},

			getAllRoomsByUser() {
				axios
					.get('/api/user/rooms')
					.then(res => {
						this.userRooms = res.data
						this.defaultRoom(res.data.rooms[0])
						this.getAllUsersByRoom(this.currentRoom.id)
					})
					.catch(error => console.log(error))
			},

			defaultRoom(room) {
				this.currentRoom = room
			},
			getAllUsersByRoom(id) {
				axios
					.get(`/api/room/${id}/users`)
					.then(res => {
						this.users = res.data
					})
					.catch(error => console.log(error))
			},

			getAllMessages() {
				axios
					.get(`/api/room/${this.currentRoom.id}/messages`)
					.then(res => {
						this.messages = res.data
						this.getAllUsersByRoom(this.currentRoom.id)
					})
					.catch(err => console.log(err))
			}
		},
		created() {
			this.getAllRoomsByUser()
		}
	}
</script>

<style>
</style>
