<template>
	<div class="flex items-center justify-center h-screen mx-auto bg-gray-100">
		<div class="flex flex-col px-6 py-3 bg-white rounded-md shadow-xl w-7xl">
			<h1 class="mt-3 mb-6 text-xl font-bold text-indigo-600">Select At Least One Room</h1>
			<div
				class="form-check"
				v-for="(room, index) in rooms"
				:key="index"
			>
				<input
					type="checkbox"
					class="form-check-input"
					v-model="selectedRooms"
					:value="room.id"
				/>
				<label class="form-check-label">{{ room.name }}</label>
			</div>
			<div class="flex justify-center">
				<button
					class="w-48 px-8 py-3 mt-6 font-semibold text-white bg-indigo-700 rounded-md hover:bg-indigo-500 text-md"
					@click="chat"
				>Chat</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				rooms: [],
				selectedRooms: []
			}
		},
		methods: {
			getAllRooms() {
				axios
					.get('/api/rooms')
					.then(res => {
						this.rooms = res.data
						this.getChatRoom()
					})
					.catch(error => console.log(error))
			},
			getChatRoom() {
				axios
					.get('/api/user/rooms')
					.then(res => {
						this.selectedRooms = res.data.rooms.map(el => el.id)
					})
					.catch(errors => {
						this.error = errors.response.data
					})
			},
			chat() {
				axios
					.post('/api/user/rooms', this.selectedRooms)
					.then(() => {
						this.$router.push({ name: 'chat' })
					})
					.catch(errors => {
						this.error = errors.response.data
					})
			}
		},
		created() {
			this.getAllRooms()
		}
	}
</script>

<style>
</style>
