<template>
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Friends List</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search" />
                <span class="input-group-addon">
                  <button type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div
              class="chat_list active_chat"
              v-for="(user, index) in users"
              :key="index"
            >
              <div class="chat_people" @click="defaultUser(user)">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>
                    {{ user.name
                    }}<span class="chat_date">last chat dateDec 25</span>
                  </h5>
                  <p>last chat message</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <Message :messages="messages" />
          <PrivateMessage
            :user="currentUser"
            v-on:messageSent="getPrivateMessages"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Message: () => import("../Components/Message"),
    PrivateMessage: () => import("../Components/PrivateMessage"),
  },
  data() {
    return {
      users: [],
      currentUser: {},
      messages: [],
    };
  },
  watch: {
    currentUser(oldUser) {
      if (oldUser.id) {
        console.log("disconnect");

        this.disconnect(oldUser);
      }
      this.connect();
    },
  },
  methods: {
    connect() {
      if (this.currentUser.id) {
        console.log("connect");
        let vm = this;
        this.getPrivateMessages();
        window.Echo.private(
          "privatechat." + this.$store.state.auth.user.id
        ).listen(".privatemessage.new", (e) => vm.getPrivateMessages());
      }
    },
    disconnect(user) {
      window.Echo.leave("privatechat." + user.id);
    },
    getAllPrivateUsers() {
      axios
        .get("/api/private/users")
        .then((res) => {
          this.users = res.data;
          this.defaultUser(res.data[0]);
        })
        .catch((err) => console.log(err));
    },
    getPrivateMessages() {
      axios
        .get(`/api/private/messages/${this.currentUser.id}`)
        .then((res) => (this.messages = res.data))
        .catch((err) => console.log(err));
    },
    defaultUser(user) {
      this.currentUser = user;
    },
  },
  created() {
    this.getAllPrivateUsers();
  },
};
</script>

<style>
</style>