<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" v-model="form.name" />
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" v-model="form.email" />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              class="form-control"
              v-model="form.password"
            />
          </div>
          <button class="btn btn-primary" @click="submit">Register</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
      },
    };
  },
  methods: {
    ...mapActions({
      login: "auth/login",
    }),

    submit() {
      axios
        .post("register", this.form)
        .then(() => {
          let cred = {
            email: this.form.email,
            password: this.form.password,
          };
          this.login(cred)
            .then(() => {
              this.$router.push({ name: "select-room" });
            })
            .catch((errors) => {
              this.error = errors.response.data;
            });
        })
        .catch((errors) => {
          this.error = errors.response.data;
        });
    },
  },
};
</script>

<style>
</style>