<template>
	<!-- Header -->
	<div class="relative bg-green-600">
		<div class="w-full h-20 px-4 mx-auto md:px-10">
		</div>
	</div>
</template>

<script>
	export default {
		components: {}
	}
</script>
