<template>
	<div class="mt-6 type_msg">

		<div class="flex flex-row items-center w-full h-16 px-4 bg-white rounded-xl">
			<div>
				<button class="flex items-center justify-center text-gray-400 hover:text-gray-600">
					<svg
						class="w-5 h-5"
						fill="none"
						stroke="currentColor"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
						></path>
					</svg>
				</button>
			</div>
			<div class="flex-grow ml-4">
				<div class="relative w-full">
					<input
						type="text"
						placeholder="Type a message"
						v-model="message"
						@keyup.enter="sendMessage"
						class="flex w-full h-10 pl-4 border rounded-xl focus:outline-none focus:border-indigo-300"
					/>
					<button class="absolute top-0 right-0 flex items-center justify-center w-12 h-full text-gray-400 hover:text-gray-600">
						<svg
							class="w-6 h-6"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
							></path>
						</svg>
					</button>
				</div>
			</div>
			<div class="ml-4">
				<button
					class="flex items-center justify-center flex-shrink-0 px-4 py-1 text-white bg-indigo-500 hover:bg-indigo-600 rounded-xl"
					@click="sendMessage"
				>
					<span>Send</span>
					<span class="ml-2">
						<svg
							class="w-4 h-4 -mt-px transform rotate-45"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
							></path>
						</svg>
					</span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['room'],
		data() {
			return {
				message: ''
			}
		},
		methods: {
			sendMessage() {
				if (this.message == '') {
					return
				}
				axios
					.post(`/api/room/${this.room.id}/message`, { message: this.message })
					.then(res => {
						if (res.status == 201) this.message = ''
						this.$emit('messageSent')
					})
					.catch(err => console.log(err))
			}
		}
	}
</script>

<style>
</style>
