<template>
	<div class="flex overflow-hidden">
		<div class="flex flex-col flex-auto flex-shrink-0 h-full p-4 bg-gray-100 rounded-2xl">
			<div class="flex flex-col h-full mb-4 overflow-x-auto">
				<div class="flex flex-col h-full">
					<div
						class="grid grid-cols-1 gap-y-2"
						v-for="(message, index) in messages"
						:key="index"
					>
						<SingleMessage :message="message" />
					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	export default {
		props: ['messages'],
		components: {
			SingleMessage: () => import('./SingleMessage')
		}
	}
</script>

<style>
</style>
