<template>
  <div class="type_msg">
    <div class="input_msg_write">
      <input
        type="file"
        ref="file"
        id="uploadFile"
        v-on:change="handleFileUpload()"
      />
      <input
        type="text"
        class="write_msg"
        placeholder="Type a message"
        v-model="form.message"
        @keyup.enter="sendMessage"
      />
      <button class="msg_send_btn" type="button" @click="sendMessage">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["user"],
  data() {
    return {
      form: {
        message: "",
        file: "",
      },
      token: "",
    };
  },
  methods: {
    handleFileUpload() {
      this.form.file = this.$refs.file.files[0];
    },
    sendMessage() {
      let data = new FormData();
      for (let key in this.form) {
        data.append(key, this.form[key]);
      }
      if (this.form.message == "" && this.form.file == "") {
        return;
      }
      axios
        .post(`/api/private/${this.user.id}/message`, data)
        .then((res) => {
          if (res.status == 201) {
            this.form.message = "";
            this.form.file = "";
            document.getElementById("uploadFile").value = "";
          }
          this.$emit("messageSent");
        })
        .catch((err) => console.log(err));
    },
  },
  created() {
    this.token = document.querySelector('meta[name="csrf-token"]').content;
  },
};
</script>

<style>
</style>