<template>
	<div class="flex flex-row items-center justify-between">

		<div class="relative inline-flex items-center mt-4">

			<svg
				class="absolute top-0 right-0 w-6 h-6 m-2 text-indigo-700 pointer-events-none"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fillRule="evenodd"
					d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
					clipRule="evenodd"
				/>
			</svg>
			<select
				class="h-10 pl-5 pr-10 text-gray-600 bg-white border border-gray-300 rounded appearance-none hover:border-gray-400 focus:outline-none"
				v-model="selected"
				@change="$emit('roomChanged', selected)"
			>
				<option selected>Selected Rooms</option>
				<option
					:value="room"
					v-for="(room, index) in rooms"
					:key="index"
				>
					{{ room.name }}
				</option>
			</select>
		</div>

		<div class="flex justify-center px-4 py-2">
			<router-link
				to="/select-room"
				class="w-48 px-8 py-3 mt-6 font-semibold text-white bg-indigo-500 rounded-md hover:bg-indigo-700 text-md"
			>All Chat Rooms</router-link>
		</div>

	</div>
</template>

<script>
	export default {
		props: ['rooms', 'currentRoom'],
		data() {
			return {
				selected: ''
			}
		},

		mounted() {
			this.selected = this.currentRoom
		}
	}
</script>

<style>
</style>
