<template>
	<div>
		<div
			class="col-start-1 col-end-8 p-3 rounded-lg"
			v-if="$store.state.auth.user.id != message.user_id"
		>
			<div class="flex flex-row items-center">
				<div class="flex items-center justify-center flex-shrink-0 w-10 h-10 bg-indigo-500 rounded-full">
					<img src="https://ptetutorials.com/images/user-profile.png" />
				</div>
				<div
					class="relative px-4 py-2 ml-3 text-sm bg-white bg-green-300 shadow rounded-xl"
					v-if="message.message"
				>
					<div>{{ message.message }}</div>
				</div>
				<div
					class="flex items-center justify-center flex-shrink-0 w-10 h-10 bg-indigo-500 rounded-full"
					v-if="message.image"
				>
					<img
						:src="`/${message.image.path}`"
						alt="image"
					/>
				</div>
			</div>
		</div>

		<div
			class="col-start-6 col-end-13 p-3 rounded-lg"
			v-if="$store.state.auth.user.id == message.user_id"
		>
			<div class="flex flex-row-reverse items-center justify-start">
				<div class="flex items-center justify-center flex-shrink-0 w-10 h-10 bg-indigo-500 rounded-full">
					<img src="https://ptetutorials.com/images/user-profile.png" />
				</div>
				<div class="relative px-4 py-2 mr-3 text-sm bg-indigo-300 shadow rounded-xl">
					<div v-if="message.message">
						{{ message.message }}
					</div>
					<div v-if="message.image">
						<img
							:src="`/${message.image.path}`"
							alt="image"
						/>
					</div>
					<div class="absolute bottom-0 right-0 mr-2 -mb-5 text-xs text-gray-500">
						Seen
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<script>
	export default {
		props: ['message']
	}
</script>

<style>
</style>

