<template>
	<div>
		<a
			class="block text-gray-600"
			href="#pablo"
			ref="btnDropdownRef"
			v-on:click="toggleDropdown($event)"
		>
			<div class="flex items-center">
				<span class="inline-flex items-center justify-center w-12 h-12 text-sm text-white bg-gray-300 rounded-full">
					<!-- <img
						alt="..."
						class="w-full align-middle border-none rounded-full shadow-lg"
						:src="image"
					/> -->
				</span>
			</div>
		</a>
		<div
			ref="popoverDropdownRef"
			class="z-50 float-left py-2 text-base text-left list-none bg-white rounded shadow-lg min-w-48"
			v-bind:class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow,
      }"
		>
			<router-link to="/logout"><span class="block w-full px-4 py-2 text-sm font-normal text-gray-800 whitespace-no-wrap bg-transparent ">Logout</span></router-link>

			<router-link to="/select-room"><span class="block w-full px-4 py-2 text-sm font-normal text-gray-800 whitespace-no-wrap bg-transparent ">Profile</span></router-link>
			<router-link to="/select-room"><span class="block w-full px-4 py-2 text-sm font-normal text-gray-800 whitespace-no-wrap bg-transparent ">Settings</span></router-link>
			<div class="h-0 my-2 border border-gray-200 border-solid" />
			<a
				href="javascript:void(0);"
				class="block w-full px-4 py-2 text-sm font-normal text-gray-800 whitespace-no-wrap bg-transparent"
			>
				Seprated link
			</a>
		</div>
	</div>
</template>

<script>
	import { createPopper } from '@popperjs/core'

	export default {
		data() {
			return {
				dropdownPopoverShow: false
			}
		},
		methods: {
			toggleDropdown: function(event) {
				event.preventDefault()
				if (this.dropdownPopoverShow) {
					this.dropdownPopoverShow = false
				} else {
					this.dropdownPopoverShow = true
					createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
						placement: 'bottom-start'
					})
				}
			}
		}
	}
</script>
