<template>
	<div>
		<sidebar />
		<div class="relative bg-gray-200 md:ml-64">
			<admin-navbar />
			<header-stats />
			<div class="w-full px-4 mx-auto -m-24 md:px-10">
				<router-view />
				<footer-admin />
			</div>
		</div>
	</div>
</template>
<script>
	import AdminNavbar from '../Components/Navbars/AdminNavbar.vue'
	import Sidebar from '../Components/Sidebar/Sidebar.vue'
	import HeaderStats from '../Components/Headers/HeaderStats.vue'
	import FooterAdmin from '../Components/Footers/FooterAdmin.vue'
	export default {
		name: 'admin-layout',
		components: {
			AdminNavbar,
			Sidebar,
			HeaderStats,
			FooterAdmin
		}
	}
</script>
